@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

button {
  background-color: purple;
  border: 1px solid purple;
  color: #FFF;
  font-size: .875rem;
  letter-spacing: .125rem;
  margin: .625rem 0;
  overflow: hidden;
  padding: 1.25rem 1.875rem;
  position: relative;
  text-transform: uppercase;
}

button:focus {
  outline: none;
}

button .circle {
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  height: 6.25rem;
  width: 6.25rem;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}