@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  border-radius: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  cursor: pointer;
  flex: 0.5;
  height: 80vh;
  margin: .5rem;
  position: relative;
  transition: flex .8s ease-in;
}

.panel h3 {
  bottom: 1.25rem;
  font-size: 1.5rem;
  left: 1.25rem;
  opacity: 0;
  position: absolute;
}

.panel.active {
  flex: 4;
}

.panel.active h3 {
  opacity: .9;
}

@media(max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

.tundra {
  background-image: url('https://images.unsplash.com/photo-1548876995-629f48ad9a6c?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.desert {
  background-image: url('https://images.unsplash.com/photo-1509316785289-025f5b846b35?auto=format&fit=crop&q=80&w=1776&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.forest {
  background-image: url('https://images.unsplash.com/photo-1448375240586-882707db888b?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.cityscape {
  background-image: url('https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.coast {
  background-image: url('https://images.unsplash.com/photo-1446038202205-1c96430dbdab?auto=format&fit=crop&q=80&w=2069&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
