@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: darksalmon;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.form {
  width: 50%;
}

.text-bar {
  border-radius: .25rem;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1.5rem;
  width: 100%;
}

.text-bar::placeholder {
  text-align: center;
}

.controls {
  background: rgba(0, 0, 0, .1);
  font-size: 1.125rem;
  padding: .625rem 1.25rem;
  position: absolute;
  bottom: 1.25rem;
}

.speed-input {
  background-color: darksalmon;
  border: none;
  font-size: 1.125rem;
  padding: .25rem;
  width: 3.125rem;
  text-align: center;
}

input:focus {
  outline: none;
}
