@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(161, 100, 223);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

.btn {
  background-color: rebeccapurple;
  border-radius: .25rem;
  color: white;
  border: none;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.25rem;
  font-family: inherit;
}

.btn:hover {
  opacity: .9;
}

.btn:focus {
  cursor: pointer;
  outline: none;
}
